body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    color: #343a40;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ff6f61;
    margin-bottom: 20px;
    font-size: 3.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease;
}

#container:hover {
    transform: translateY(-5px);
}

.btns {
    text-align: center;
}

button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #ff4c3b;
    transform: scale(1.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
    text-align: center;
}

tr:hover {
    background-color: #ffe6e6;
}

.details-card,
#update-form,
#add-form,
.book-table {
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 10;
}

.details-card,
#update-form,
#add-form {
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    z-index: 10;
}

input[type="text"],
input[type="range"] {
    width: calc(100% - 24px);
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="range"]:focus {
    border-color: #ff6f61;
    outline: none;
}

label {
    font-weight: 600;
    font-size: 1.1em;
}

#close-details,
#save-update,
#add-new {
    width: 100%;
}